# Image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.json
*.pyc
*.pyo
*.pyd

# Specific path you had before (if still needed)
7095/7095/0.000.jpg
utils/.crypto_key
utils/.encrypted_keys
utils/generate_keys.py
